<!DOCTYPE HTML>
<html>

<head>
	<title>LT TECH</title>
	<link rel="icon" href="/images/ico.ico"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo "><a class="nav-logo" href="/index.html">LT TECH
					<span class="nav-ico fas fa-code"></span>
				</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li>
						<a href="#">Projects</a>
						<ul>
							<li><a target="1" href="https://the-traveler.netlify.app/">The Traveler</a></li>
							<li><a target="2" href="https://stormy-everglades-08025.herokuapp.com/">News Letter</a></li>
						</ul>
					</li>
					<li>
					<a href="sysadmin.html">IT System Admin</a>
					</li>
					<li>
						<a target="_resume" href="/resume.pdf">Resume</a>
					</li>
					<li><a href="/#four" class="button primary">Contact Me</a></li>
				</ul>
			</nav>
		</header>
		<!-- Header End-->

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Front-End Developer</h2>
					<p>I love to make cool and creative web designs, regardless of what medium I'm working on.</p>
				</header>

				<div class="row gtr-150">

					<!-- Sidebar -->
					<div class="col-4 col-12-medium">						
						<section id="sidebar">
							<section>
								<div class="container">
									<h3>Technical Skills</h3>
									<p>I never stop learning, so this section might keep on expanding. 
									Here you can find what I know about front-end development.</p>									
									<a href="#" class="image fit"><img src="/images/pic08.jpg" alt="" /></a>
									<hr />
									<div class="box alt">
										<div class="row gtr-uniform">
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-html5" width="200"></span>
												<p>HTML5</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-css3-alt"></span>
												<p>CSS</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-js-square"></span>
												<p>JavaScript</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-bootstrap"></span>
												<p>Bootstrap</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-node-js"></span>
												<p>NodeJS</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-github"></span>
												<p>GitHub VS</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fab fa-react"></span>
												<p>ReactJS</p>
											</section>
											<section class="col-4 col-6-medium col-6-xsmall">
												<span class="fas fa-database"></span>
												<p>MongoDB</p>
											</section>
											<section class="col-4 col-6-medium col-12-xsmall">
												<span class="fas fa-server"></span>
												<p>SQL</p>
											</section>
										</div>
									</div>
									<footer class="major">
										<ul class="actions special">
											<li><a target="4" href="/resume.pdf" class="button">Download Resume</a></li>
										</ul>
									</footer>
								</div>								
							</section>
						</section>				
					</div>
					<!-- Sidebar End -->


					<div class="col-8 col-12-medium imp-medium">

					<!-- Content -->
					<section id="content">
						<img class="image fit" src="/images/pic05.jpg" alt="dev-skill" />
						<h2>Experience</h2>
						<p>Front-end Developer with a passion to build web applications and 
						success in managing development in projects in Scrum, Agile, and 
						learn processes. I had gained tremendous experience and knowledge 
						of how effective a good design web application can impact in a positive
						way a company. I have worked for a 1 year and a half on web development in the 
						financial industry. I work as an IT System Administrator, but my ambition 
						to learn more about how different systems works, it had helped me to
						transition and gained new skills to work inside projects with the developer  
						team and marketing on front-end applications, designing, API, and UI/UX design.</p>										
						<div class="row gtr-150">
						<ul>
							<li>Web development</li>
							<li>Process improvment</li>
							<li>Workflow optimization</li>
							<li>Design and develop user-friendly websites</li>
							<li>Fixed bugs from existing websites and implemented enhancements</li>
						</ul>
					</div>
					
					<section id="four" class="wrapper style1 special fade-up">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<section id="sidebar">
						<section>
							<header class="major">
							<h3>Projects</h3>
							</header>						
							<p>I never stop creating and buildign new applications, so this section 
							does not stop expanding. Here you can find some of my projects I have worked on.</p>
							<footer class="major">
								<ul class="actions special">
									<li>
										<a target="1" href="https://github.com/tenen2105" class="button">GitHub
										<i class="fab fa-github"></i></a>
									</li>
								</ul>
							</footer>
						</section>
						</section>
					<!-- Sidebar End -->
					</div>
					</section>
				</div>
			</div>
		</div>
		<!-- Main End -->

		<!-- Footer -->
		<footer id="footer">
			<h3 id="logo"><a class="nav-logo" href="/index.html">LT TECH
					<span class="nav-ico fas fa-code"></span>
				</a></h3>
			<ul class="icons">
				<li><a target="1" href="https://www.linkedin.com/in/luis-e-t-338b0549/"
						class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a target="2" href="https://github.com/tenen2105" class="icon brands alt fa-github"><span
							class="label">GitHub</span></a></li>
				<li><a target="3" href="https://twitter.com/tenen21" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy <span id="time"></span> LT TECH</li>
				<li>All rights reserved.</li>
			</ul>
		</footer>	 

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src='/assets/js/index.js'></script>
	</div>
</body>

</html>