<!DOCTYPE HTML>
<html>

<head>
	<title>LT TECH</title>
	<link rel="icon" href="/images/ico.ico"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="style" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a class="nav-logo" href="/index.html">LT TECH
					<span class="nav-ico fas fa-code"></span>
				</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li>
						<a href="#">Projects</a>
						<ul>
							<li><a target="1" href="https://the-traveler.netlify.app/">The Traveler</a></li>
							<li><a target="2" href="https://stormy-everglades-08025.herokuapp.com/">News Letter</a></li>
						</ul>
					</li>
					<li>
						<a href="developer.html">Front-End Dev</a>
						
					</li>
					<li>
						<a target="_resume" href="/resume.pdf">Resume</a>
					</li>
					<li><a href="/#four" class="button primary">Contact Me</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>IT System Administrator</h2>
					<p>Excellent and knowledgeable of the subject area and excellent technical skills to make 
						everything run smoothly. I keep myself up to date on a regular basis with new developments in the 
						industry.</p>
				</header>
				<div class="row gtr-150">
					
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<section id="content">
							<img class="image fit" src="/images/pic06.jpg" alt="" />
							<h3>Experience</h3>
							<p>	I have worked for over 5 years as an IT Systems Administrator for the financial industry. 
								I have demonstrated success in managing, maintaining computer systems and networks, 
								troubleshooting issues related to hardware or software. Also, I have also worked on 
								many projects in implementing IT solutions for single and multi-locations that optimize 
								resources in the company. Extremely adept at providing exceptional customer service 
								support in technical and diverse settings.</p>
								<div class="row gtr-150">
									<ul>
										<li>Managing Windows Servers 2012R2 to 2019</li>
										<li>Hardware and Software Troubleshooting</li>
										<li>Windows and MacOS AD configuration</li>
										<li>Barracuda Backup System</li>
										<li>Group Policy Access</li>
										<li>Office365 Share Point</li>
										<li>Windows Intune Access</li>
										<li>Remote Support</li>
										<li>VPN Support</li>
										
									</ul>
								</div>
						</section>
					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<section id="sidebar">
							<section>
								
								<h3>Technical Skills</h3>
								<p> Strong analytical skills and knowledgeable with Windows, MacOS, Office365 Products, 
									Barracuda, Fortigate, Cisco, Active Directory, Azure AD, Windows Intune, Cloud Computing,
									Mobile, Printers, Patching, and Telephone Systems. Excellence in providing technical support to remote 
									users via phone or email. </p>
									<img class="image fit" src="/images/pic09.jpg" alt="it-skill" />
									<hr />
							</section>
							
							<section>
								<div class="box alt">
									<div class="row gtr-uniform">
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fab fa-windows"></span>
											<p>Windows</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fab fa-apple"></span>
											<p>Apple</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-server"></span>
											<p>Windows Servers</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-fire"></span>
											<p>Firewalls</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-globe"></span>
											<p>Routers</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-mobile-alt"></span>
											<p>Mobile</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span  class="fas fa-network-wired"></span>
											<p>LAN & WAN</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-save"></span>
											<p>Backups</p>
										</section>
										<section class="col-4 col-6-medium col-6-xsmall">
											<span class="fas fa-audio-description"></span>
											<p>AD Access</p>
										</section>
									</div>
							</section>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">			
			<h3 id="logo"><a class="nav-logo" href="/index.html">LT TECH
					<span class="nav-ico fas fa-code"></span>
				</a></h3>
			<ul class="icons">
				<li><a target="1" href="https://www.linkedin.com/in/luis-e-t-338b0549/"
						class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a target="2" href="https://github.com/tenen2105" class="icon brands alt fa-github"><span
							class="label">GitHub</span></a></li>
				<li><a target="3" href="https://twitter.com/tenen21" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy <span id="time"></span> All rights reserved.</li>
				<li>LT TECH</li>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>